
@{
    ViewBag.Title = "Sheet";
    Layout = "~/Views/Shared/_MainLayout.cshtml";
}
<div class="row">
    <div class="card bg-light mb-3">
        <div class="card-header">
            <img src="~/Content/Images/cur_platinum.png" class="sheet-cur" alt="...">
        </div>
        <div class="card-body text-center">
            <h5 class="card-title">0</h5>
        </div>
    </div>
    <div class="card bg-light mb-3">
        <div class="card-header">
            <img src="~/Content/Images/cur_gold.png" class="sheet-cur" alt="...">
        </div>
        <div class="card-body text-center">
            <h5 class="card-title">400</h5>
        </div>
    </div>
    <div class="card bg-light mb-3">
        <div class="card-header">
            <img src="~/Content/Images/cur_silver.jpg" class="sheet-cur" alt="...">
        </div>
        <div class="card-body text-center">
            <h5 class="card-title">0</h5>
        </div>
    </div>
    <div class="card bg-light mb-3">
        <div class="card-header">
            <img src="~/Content/Images/cur_copper.png" class="sheet-cur" alt="...">
        </div>
        <div class="card-body text-center">
            <h5 class="card-title">0</h5>
        </div>
    </div>
</div>


